<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="MaxTradesPerDay" value="2"/>
		<add key="ExtractionIntervalMs" value="5000"/>
		<add key="LockMessage" value="Max trades for this session reached — trading locked"/>

		<add key="TessDataPath" value="tessdata" />
		<add key="CropImagePath" value="ctrader_crop.png" />
		<add key="MaxTradesPerSession" value="2" />
		<add key="LossPercentValue" value="10"/>

	</appSettings>

	<connectionStrings>
		<add name="MyDbConnection"
			 connectionString="Server=OMITRITECH_4;Database=Sentrix;Trusted_Connection=True;TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>